.dominant-style {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
:root {
  --color-blue: #2196f3;
  --color-grey: #757575;
  --color-white: #fff;
  --color-background: #2f303a;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000;
}
.logo-style {
  color: var(--color-blue);
}
.dominant-style .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  color: var(--color-blue);
}
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  text-decoration: none;
}
.contact:hover,
.contact:focus {
  color: var(--color-blue);
}
.dominant-style .button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.category-portfolio {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}
.footer-style {
  background-color: var(--color-background);
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-white);
}
.address-style {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
.contact-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--color-blue);
}
.section-1-main-page {
  background-color: var(--color-background);
}
.h1-style-main-page {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}
.title-main-page {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-main-page {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}
.h2-style-main-page {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-box-main-page {
  background-color: #f5f4fa;
}
.figcaption-name-main-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.figcaption-position-main-page {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}
